DataAccess/DocumentFiles/Facility 3-2022-Subpart W-1.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      Created by AcuXML(tm) version 6.0.0 (2002-11-12) on 2002/11/12
    </xs:documentation>
  </xs:annotation>

  <xs:element name="TEST-ORDERFILE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="CUSTOMER"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CUSTOMER">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NAME"/>
        <xs:element ref="DATE"/>
        <xs:element ref="ORDERS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NAME">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LAST-NAME"/>
        <xs:element ref="FIRST-NAME"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ORDERS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ITEM" maxOccurs="3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ITEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PRODUCT"/>
        <xs:element ref="NUMBER"/>
        <xs:element ref="PRICE"/>
        <xs:element ref="CHARGEACCT"/>
        <xs:element ref="SAMPLE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="LAST-NAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="5"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="FIRST-NAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="DATE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="16"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="PRODUCT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="12"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="NUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:totalDigits value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="PRICE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="CHARGEACCT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="19"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="SAMPLE">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:totalDigits value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

</xs:schema>